.ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: #fff;
  background-image: url(../../images//pattern-squiggly-line-bottom-desktop.svg);
  background-repeat: no-repeat;
  background-size:50%;
  background-position: left bottom;
  height: calc(100vh - 70px);
}
.divCongrats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  background-image: url(../../images/pattern-squiggly-line-top.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  width: 100%;
}

.divCongrats h1 {
  font-size: 4rem;
  text-align: center;
}
.spanName {
  background: linear-gradient(90deg, #f67462, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.spanEmail {
  color: #fd8f80;
}

.divCongrats .emailSend {
  color: #c0c0c0;
  max-width: 400px;
  text-align: center;
  margin: 20px;
}

.ticket-bg {
  width: 500px;
  height: 250px;
  color: white;
  border-radius: 10px;
  background-position: center;
  background-image: url(../../images/pattern-ticket.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 25px;
  display: flex;
  margin: 50px;
  align-items: center;
}

.ticket-avatar {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
.contentTicket {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 400px;
}
.day {
  font-size: 0.8rem;
  color: #c0c0c0;
  padding: 15px 50px;
}
.divTop {
  margin: 30px 0;
}
.divBottom {
  display: flex;
  margin: 30px 0;
}
.divName {
  margin: 0 20px;
}
.divName h2 {
  margin: 5px 0;
}
.divGithub {
  display: flex;
}

.divGithub p {
  margin: 5px;
}

.divAside {
  transform: rotate(90deg);
  height: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divAside p {
  color: #c0c0c0;
  font-size: 1.4rem;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .divCongrats h1 {
    font-size: 2rem;
  }
  .ticket {
    height: 90vh;
    overflow: hidden;
  }
}

@media (max-width: 500px) {
  .divCongrats {
    text-align: center;
    width: 90%;
  }
  .ticket-bg {
    width: 400px;
    margin: 10px;
  }

  .divTop {
    margin: 10px 0;
  }
  .divBottom {
    display: flex;
    margin: 10px 0;
  }
  .divAside p {
    color: #c0c0c0;
    font-size: 1.4rem;
  }
  .contentTicket {
    min-width: 310px;
  }
}
